ebin/*
*.beam
deps/*
rel/chatterbox
.eunit
_rel
relx
.rebar
erln8.config
.DS_Store
common_test/logs
.edts
erl_crash.dump
_build
rebar3
.rebar3
log
priv/bower_components
priv/node_modules
test/client_server_SUITE_data/bower_components